header.main {
  /* height: 400px; */
  width: 100%;
  padding: 120px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d79922 url(../images/45-degree-fabric-light.png);
}

@media only screen and (min-width: 1024px) {
  header.main {
    height: 400px;
    width: 30%;
    padding: 40px 0 0 0;
    margin: 200px 0 0 auto;
  }
}