nav {
  height: 120px;
  background: none;
  color: #FFFFFF;
  padding: 0em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
}

nav span {
  font-family:'Bungee', cursive;
}

.navRight button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: none;
  color: white;
  border: none;
}

.fas.fa-angle-double-down {
  color: red;
}

@media only screen and (min-width: 768px) {
  nav {
   background: #4056A1;
  }
}