nav {
  height: 120px;
  background: #4056A1;
  color: #FFFFFF;
  padding: 0em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  
}

nav span {
  font-family:'Bungee', cursive;
}

.navRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas.fa-angle-double-down {
  color: red;
}