.new-tweet {
  display: none;
  margin-top: 20px;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  border: none;
  background: #f4f1ec;
  width: 100%;
  resize: none;
  outline: none;
}

.new-tweet .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: solid medium black;
  font-weight:bolder;
  font-family:'Bungee', cursive;
  padding-top: 10px;
}

.new-tweet button {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

.error {
  display: none;
  align-items: center;
  line-height: 1px;
  border: solid medium red;
  padding: 0 5px;
  color: red;
}
