.new-tweet form {
  display: flex;
  flex-wrap: wrap;
}

.new-tweet label, .new-tweet textarea {
  width: 50%;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  border: none;
  background: #f4f1ec;
  height: 
}

.new-tweet .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: solid medium black;
  font-weight:bolder;
  font-family:'Bungee', cursive;
  padding-top: 10px;
}

.new-tweet button {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}
