.tweet {
  border: solid medium black;
  margin: 40px 0;
  padding: 10px 20px 0 20px;
  
}
.tweet:hover {
  box-shadow: 5px 5px #c9cbe1;
}

.tweets header {
  background: #f4f1ec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faded {
  opacity: 0.5;
}

.avatarName {
  width: 153px;
  height: 75.59px;
  display: flex;
  justify-content: space-between;
}

.tweets footer {
  display: flex;
  justify-content: space-between;
  font: 15px bold;
  border-top: solid black medium;
}

footer .icons {
  margin-top: 10px;
}

footer .icons i:hover {
  color: goldenrod;
}

